/* Main navbar */
.navbar {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

/* Logo */
.navbar-logo {
  height: 50px;
  font-size: 35px;
  color: black; }

/* Right section */
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0 55px; }

.nav-list-item {
  cursor: pointer;
  padding: 0 20px;
  margin-right: 50px;
  cursor: pointer;
  color: #616668;
  font-size: 28px; }
  .nav-list-item:hover {
    color: #da552f;
    text-decoration: none; }

.hide {
  margin-top: -70px; }

.show {
  margin-top: 0px; }

.nav-sticky {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 10; }

.navbar-wagon-brand-outside {
  display: block;
  position: absolute;
  padding: 5px;
  left: 30px;
  top: 10px;
  height: 50px;
  font-size: 35px;
  color: black;
  background: white;
  border-radius: 5px;
  /*letter-spacing: -3px;*/
  letter-spacing: 3px; }

.navbar-wagon-brand-outside:hover {
  background: black;
  color: white;
  text-decoration: none; }

.hide-logo {
  display: none; }

.show-logo {
  display: block; }

.hamburger {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 28px;
  top: 7px;
  cursor: pointer;
  position: fixed;
  z-index: 10; }

.hamburger-nav {
  right: 24px;
  cursor: pointer; }

.line {
  border-bottom: 2px solid black;
  width: 45px;
  padding: 5px; }

.hamburger-nav .line {
  border-bottom: 2px solid black; }

.hide-hamburger {
  display: none; }

.show-hamburger {
  display: block; }

.footer {
  background: #090A0A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #F5F6F7; }

.footer-links {
  display: flex;
  align-items: center; }

.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px; }

.footer-links a:hover {
  opacity: 1; }

.footer .fa-heart {
  color: #D23333; }

@media screen and (min-width: 200px) and (max-width: 500px) {
  .footer-copyright {
    font-size: 10px; } }
.intro-content {
  background-color: #fffdfa;
  padding: 300px; }

.intro-title {
  font-size: 6em; }

.intro-sub-title {
  font-size: 2em; }

.skills {
  color: #fff;
  font-family: 'Lato', sans-serif;
  background: #363837; }

h2.skills-title {
  color: #fff; }

.skills-list {
  margin-left: 50px;
  padding: 20px; }

.skills-list li {
  display: inline-flex;
  flex-direction: column;
  word-wrap: normal;
  text-align: center;
  padding-right: 100px;
  align-items: center;
  color: #ddd;
  flex: 0 0 15px;
  font-family: 'Vollkorn', serif; }

.skills-image {
  opacity: 0.7;
  height: 50px; }

.skills-image:hover {
  opacity: 1; }

.about {
  background: #E1E5E9;
  max-width: 100%;
  font-family: 'Lato', sans-serif; }

.about-content {
  font-family: 'Ubuntu', sans-serif; }
  .about-content p {
    margin: 12px 0;
    font-size: 32px; }

.container.contact {
  background: #91A1AB; }

.contact-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row; }

.profile-pic {
  width: 70%;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03); }

.contact-description {
  width: 80%;
  font-size: 37px;
  font-family: 'Vollkorn', serif; }

.projects {
  background: #E1E5E9;
  max-width: 100%; }

#project-list > li {
  margin: 20px; }

.project {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  list-style: none;
  display: inline-block; }

.project-name {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 15px;
  text-transform: uppercase; }

.project-description {
  position: absolute;
  bottom: 10px;
  left: 10px; }

.project-description h2 {
  font-size: 24px; }

.project-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter; }

.project-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0; }

.project-link:hover {
  opacity: 0.1; }

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box; }

li {
  list-style: none; }

section {
  min-height: 300px;
  padding: 200px 0;
  width: 100%; }

.section-title {
  text-align: left;
  font-size: 50px;
  color: #141823;
  padding: 8px 0; }

.container {
  max-width: 1200px;
  margin: auto; }

/*# sourceMappingURL=style.css.map */
