/* Main navbar */
.navbar {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: #fff;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

/* Logo */
.navbar-logo {
  height: 50px;
  font-size: 35px;
  color: black;
}

/* Right section */
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0 55px;
}

.nav-list-item {
  cursor: pointer;
  padding: 0 20px;
  margin-right: 50px;
  cursor: pointer;
  color: #616668;
  font-size: 28px;
}
.nav-list-item:hover {
  color: #da552f;
  text-decoration: none;
}

.hide {
  margin-top: -70px;
  transition: all 0.3s ease;
}

.show {
  margin-top: 0px;
  transition: all 0.3s ease;
}

.navbar-mobile {
  height: 400px;
  background: #fff;
  position: fixed;
  right: -305px;
  z-index: 3;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  border-bottom-left-radius: 5px;
  overflow-x: hidden;
}
.navbar-mobile .hamburger-mobile-nav {
  position: absolute;
  right: 25px;
}
.navbar-mobile .navbar-list {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
}

.navbar-wagon-brand-outside {
  display: block;
  position: absolute;
  padding: 5px;
  left: 30px;
  top: 10px;
  height: 50px;
  font-size: 35px;
  color: black;
  background: white;
  border-radius: 5px;
  /*letter-spacing: -3px;*/
  letter-spacing: 3px;
}

.navbar-wagon-brand-outside:hover {
  background: black;
  color: white;
  text-decoration: none;
}

.hide-logo {
  display: none;
}

.show-logo {
  display: block;
}

.hamburger, .hamburger-mobile {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 28px;
  top: 7px;
  cursor: pointer;
  position: fixed;
  z-index: 10;
}

.hamburger-nav {
  right: 24px;
  cursor: pointer;
}

.line {
  border-bottom: 2px solid #fff;
  width: 45px;
  padding: 5px;
}

.hamburger-nav .line {
  border-bottom: 2px solid black;
}

.hide-hamburger {
  display: none;
}

.show-hamburger {
  display: block;
}

.hamburger-mobile {
  top: -5px;
}

.footer {
  background: #090A0A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #F5F6F7;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}

.game {
  background: #fff;
  display: block;
  margin: 0 auto;
}

.intro {
  background: #151313;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 50%;
  }
}
.intro-content {
  padding: 200px;
  max-width: 1200px;
  margin: 0 auto;
}

.intro-title,
.intro-sub-title {
  color: #fff;
}

.intro-title {
  font-size: 6em;
}

.intro-sub-title {
  font-size: 2em;
}

.skills {
  color: #fff;
  font-family: "Lato", sans-serif;
  background: #151313;
  padding: 100px 0;
  min-height: 150px;
}

h2.skills-title {
  color: #fff;
}

.skills-list {
  margin-left: 50px;
  padding: 20px;
}

.skills-list li {
  display: inline-flex;
  flex-direction: column;
  word-wrap: normal;
  text-align: center;
  padding-right: 100px;
  align-items: center;
  color: #ddd;
  flex: 0 0 15px;
  font-family: "Vollkorn", serif;
}

.skills-image {
  opacity: 0.7;
  height: 50px;
}

.skills-image:hover {
  opacity: 1;
}

.about {
  background: #E1E5E9;
  max-width: 100%;
  font-family: "Lato", sans-serif;
}

.about-content {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
.about-content p {
  margin: 12px 0;
  font-size: 32px;
}

.contact {
  background: #91A1AB;
  padding: 50px 0;
  min-height: 150px;
  position: relative;
}

.contact-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}

.profile-pic {
  width: 70%;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
}

.contact-description {
  width: 80%;
  font-size: 37px;
  font-family: "Vollkorn", serif;
}

.projects {
  background: #E1E5E9;
  max-width: 100%;
}

.project {
  position: relative;
  list-style: none;
  display: inline-block;
  margin: 12px;
}

.project-link {
  height: 300px;
  width: 400px;
  overflow: hidden;
}
.project-link:hover .project-image {
  opacity: 0.3;
}
.project-link:hover .project-description {
  opacity: 1;
}

.project-image {
  opacity: 1;
  display: block;
  height: 150px;
  width: 350px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.project-description {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.project-description span {
  display: block;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

.project-name {
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 4px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
}

li {
  list-style: none;
}

section {
  min-height: 300px;
  padding: 200px 0;
  width: 100%;
}

.section-title {
  text-align: center;
  font-size: 50px;
  color: #141823;
  padding: 8px 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media screen and (min-width: 560px) {
  .navbar-mobile,
.hamburger-mobile {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  section {
    padding: 25px 0px;
  }

  .section-title {
    padding-left: 15px;
  }

  .intro-content {
    padding: 100px 15px;
  }
  .intro-content .intro-title {
    font-size: 4em;
    text-align: center;
  }
  .intro-content .intro-sub-title {
    font-size: 18px;
    text-align: center;
  }

  .about-content {
    padding: 0 15px;
  }
  .about-content p {
    font-size: 20px;
  }

  .skills .skills-list {
    margin-left: 0px;
    padding: 0 15px;
  }
  .skills .skills-list li {
    padding-right: 30px;
    padding: 10px 10px 10px 0px;
  }

  .projects {
    padding: 0;
  }
  .projects li {
    margin: 12px 0 12px 0;
  }
  .projects .projects-container {
    padding: 25px 0;
  }
  .projects .projects-list {
    text-align: center;
  }

  .contact .contact-section {
    padding: 25px 15px;
    flex-direction: column;
  }
  .contact .contact-section .profile-picture {
    order: 1;
    margin: 12px 0 0 0;
  }
  .contact .contact-section .profile-picture .profile-pic {
    width: 300px;
  }
  .contact .contact-section .contact-description {
    order: 0;
    width: 94%;
    font-size: 28px;
  }

  .footer {
    padding: 0 15px;
  }
  .footer .footer-copyright {
    font-size: 13px;
  }

  .navbar,
.hamburger,
.hamburger-mobile,
.down-arrow-container,
.up-arrow-container {
    display: none;
  }

  .hamburger-mobile {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
