.container.contact {
  background: #91A1AB;
}
.contact-section {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#profile-pic {
  padding: 0px;
  margin: 0px;
  // border-radius: 50%;
  width: 70%;
}
.contact-description {
  width: 80%;
  font-size: 37px;
  order: 1;
  font-family: 'Vollkorn', serif;
}
