.contact {
  background: #91A1AB;
  padding: 50px 0;
  min-height: 150px;
  position: relative;
}
.contact-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}
.profile-pic {
  width: 70%;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
.contact-description {
  width: 80%;
  font-size: 37px;
  font-family: 'Vollkorn', serif;
}
