.education {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 1.5em;
}
.education-section {
  height: 600px;
  background: #363837;
  padding-left: 50px;
  padding: 50px;
}
.education-section > h1 {
  font-family: 'Lato', sans-serif;
}
.education li {
  font-family: 'Vollkorn', serif;
}
.education p {
 font-family: 'Ubuntu', sans-serif;
}

@media screen and (min-width: 200px) and (max-width: 600px){
    .education {
      font-size: 1.1em;
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .education {
      font-size: 1.3em;
    }
}
